NEXT_PUBLIC_SUPABASE_URL=https://....supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=...
NEXT_PUBLIC_KOS_NAME="..."
NEXT_PUBLIC_KOS_ADDRESS="..."
NEXT_PUBLIC_WHATSAPP_NUMBER="628..."
NEXT_PUBLIC_SITE_URL="https://...""